.top{
    margin: 0 6vw;
}

.header{
    position: absolute;
    width: 100%;
    min-width: max-content;
    height: 355px;
    top: 50px;
    background: linear-gradient(180deg, rgba(129, 217, 143, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 15vh 38vw;
    color: #5A5A5A;
    text-align: center;
    z-index: -1;
}

.c-text{
    display: flex;
}

.t-head{
    margin-top: 180px;
    width: 50vw;
}

.c-title{
    font-style: italic;
}

.img-top img{
    width: 50vw;
    height: 60vh;
    margin: 50px;
}