
.top{
    margin: 0 5vw;
    text-align: center;
}

.t-head{
    margin-top: 50px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.content-1{
    margin: 0 5vw;
}

.trainers{
    display: flex;
    justify-content: space-between;
}

.image{
    border-radius: 50%;
    overflow: hidden;
}
.image img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

a{
    text-decoration: none;
}

.subtext{
    text-align: center;
    text-decoration: none;
    color: #5A5A5A;
    margin-top: 5px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

/* .content-1{
    position: relative;
    width: 100vw;
    height: 100px;
}

.search-box{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    width: 70vw;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}
  
.search-input{
    flex: 1;
    border: none;
    outline: none;
}
  
.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: #81D98F;
    color: #fff;
    border-radius: 0 4px 4px 0;



} */