/* -------------------------------------------------------------------------------------------------------------------------------- */
.section{
    margin: 2vh 6vw;  
}
.text{
    width: calc((100vw - (var(--scrollbar-width)))/2);
    display: flex;
    padding-left: 70px;
}

.title{
    font-weight: 700;
    text-align: center;
}

.cards{
    display: flex;
}

.card{
    padding: 10px 2%;
    border: none;
    max-width: 30vw;
}

.card img{
    width: 425px;
    height: 300px;
}

.subtitle{
    margin-top: 10px;
    font-weight: 400;
}

.b-card{
    padding: 5px 10px;
    color: white;
    background-color: #454545;
    width: fit-content;
    align-self: center;
    text-decoration: none;
}