

/* -------------------------------------------------------------------------------------------------------------------------------- */

.slider-in{
    position:relative;
    max-width:100%;
    height:55vh;
}

.slider-in img{
	display:none;
	width:calc(100vw - (var(--scrollbar-width)));
    height:55vh;
    opacity: 0.6;
}

.slider-in img.active{
	display:inline-block;
}

.left,.right{
    display: block;
	position: absolute;
    top:20%;
    z-index:50;
    padding: 2% 2%;
    width:auto;
    height:auto;
    color:#fff;
    font-weight:600;
    font-size:2rem;
	cursor: pointer;
    transition: 0.6s ease;
}

.right{
    right:0;
}

.left:hover,.right:hover {
    background-color: rgba(56, 55, 55, 0.507);
}

.slider-dot{
    position: absolute;
    top: 52vh;
    z-index: 50;
    display: flex;
    margin-inline: calc(48vw - (var(--scrollbar-width)));
}  
  
.dot{
    margin-inline: 5px;
    z-index: 50;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #cecaca;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
  
.active-dot, .dot:hover {
    background-color: #81D98F;
}


.header{
    position: absolute;
    top: 17%;
    left: 35vw;
}

.header-top{
    color: #000000;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-top: 1%;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-1, .section-2{
    display: flex;
}

.text{
    height: 30rem;
    width: calc((100vw - (var(--scrollbar-width)))/2);
    padding: 1rem 3rem;
    display: flex;
}

.title{
    font-weight: 700;
    text-align: center;
}

.subtitle{
    margin-top: 10px;
    font-weight: 400;
}

.t-content{
    font-size: medium;
}

.pict{
    width: calc((100vw - (var(--scrollbar-width)))/2);
    height: 30rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.pict img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.c-text{
    margin-bottom: 20px;
}

.li-content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-3{
    margin: 2vh 5vw;
}

.c-title{
    font-style: italic;
}

.ca-picts{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 1%;
}

.ca-card{
    width: 30%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.ca-pict{
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ca-pict img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    max-height: none;
    max-width: none;
}
  
.zoom{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.zoom img{
    position: absolute;
    top: 50%;
    left: calc(50% + 10px);
    transform: translate(-50%, -50%) scale(0.5);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.ca-text, .ca-subtext{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: xx-large;
    font-weight: 600;
    color: #fff;
    font-style: italic;
}
.ca-subtext{
    font-weight: 400;
    padding-top: 200px;
    font-size: 20px;
    line-height: 1.2;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-4{
    margin: 2vh 5vw;  
}

.info-cards{
    display: flex;
    justify-content: space-between;
}

.info-card{
    width: 40vw;
    height: 55vh;
    overflow: hidden;
}

.info-card img{
    width: 40vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.c-text-5{
    margin: 2vh 5vw;  
}

.bmi{
    background-image: url('../images/home-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bmiWindow{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
}

#input{
    width: 100%;
    border-collapse: collapse;
}

#input label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: block;
}

#input td{
    padding: 2%;
    text-align: center;
    width: 50%;
}

.bmiText{
    color: #000000;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    font-size: 60px;
    line-height: 84px;
}

#input input{
    width: 100%;
    height: 30px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.weight-con, .height-con {
    position: relative;
}

.weight-con::after {
    content: "kg";
    position: absolute;
    top: 75%;
    transform: translateY(-120%);
    right: 40px;
}
.height-con::after {
    content: "cm";
    position: absolute;
    top: 75%;
    transform: translateY(-120%);
    right: 40px;
}

#result{
    width: 100%;
    height: 20vh;
    background-color: #f2f2f2;
    margin-top: 20px;
    font-size: x-large;
    padding: 2%;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-6{
    margin: 2vh 5vw;  
}

.s-card-6{
    background-color: rgba(129, 217, 143, 0.7);
    display: flex;
}

.texts-6{
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 2vw 3vh;
    width: 30vw;
}

.texts-6-title{
    margin-top: 30px;
}

.texts-6-content{
    margin: 20px;
}

.images-6{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    text-align: center;
}

.image img{
    width: 300px;
    height: 400px;
}

.image-text{
    margin-top: 30px;
}


/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-7{
    margin: 2vh 5vw;  
}

.s-card-7{
    display: flex;
    margin-top: 5vh;
}

.t-img{
    width: 40vw;
    overflow: hidden;
    padding: 0 5vw 3vh 5vw;
}

.t-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.t-text{
    width: 40vw;
    text-align: center;
    margin-top: 2vh;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-8{
    margin: 2vh 5vw;  
}

.cards{
    display: flex;
}

.card{
    padding: 10px 7px;
    border: none;
    width: 33vw;
}

.card-link{
    text-decoration: none;
    color: inherit;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-subtext{
    width: 100%;
    height: 17.5vh;
}

.b-card{
    padding: 5px 10px;
    color: white;
    background-color: #454545;
    width: fit-content;
    align-self: center;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-9{
    margin: 2vh 5vw;  
}