

/* -------------------------------------------------------------------------------------------------------------------------------- */

.slider-in{
    position:relative;
    max-width:100%;
    height:55vh;
}

.slider-in img{
	display:none;
	width:calc(100vw - (var(--scrollbar-width)));
    height:55vh;
    opacity: 0.6;
}

.slider-in img.active{
	display:inline-block;
}

.left,.right{
    display: block;
	position: absolute;
    top:20%;
    z-index:50;
    padding: 2% 2%;
    width:auto;
    height:auto;
    color:#fff;
    font-weight:600;
    font-size:2rem;
	cursor: pointer;
    transition: 0.6s ease;
}

.right{
    right:0;
}

.left:hover,.right:hover {
    background-color: rgba(56, 55, 55, 0.507);
}

.slider-dot{
    position: absolute;
    top: 52vh;
    z-index: 50;
    display: flex;
    margin-inline: calc(48vw - (var(--scrollbar-width)));
}  
  
.dot{
    margin-inline: 5px;
    z-index: 50;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #cecaca;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
  
.active-dot, .dot:hover {
    background-color: #81D98F;
}


.header{
    position: absolute;
    top: 22%;
    left: 35vw;
}

.header-top{
    color: #000000;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-top: 1%;
    font-style: italic;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-1, .section-2{
    display: flex;
}

.text{
    height: 30rem;
    width: calc((100vw - (var(--scrollbar-width)))/2);
    padding: 1rem 3rem;
    display: flex;
}

.title{
    font-weight: 700;
    text-align: center;
}

.subtitle{
    margin-top: 10px;
    font-weight: 400;
}

.content{
    font-size: medium;
}

.learn{
    padding: 5px 10px;
    color: white;
    background-color: #454545;
}
.pict{
    width: calc((100vw - (var(--scrollbar-width)))/2);
    height: 30rem;
    flex-wrap: wrap;
}

.pict img{
    width: 100%;
    max-height: 30rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-3{
    margin: 2vh 6vw;
}

.c-title{
    font-style: italic;
}

.ca-picts{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 1%;
}

.ca-card{
    width: 30%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.ca-pict{
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

.ca-pict img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    max-height: none;
    max-width: none;
}
  
.zoom{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.zoom img{
    position: absolute;
    top: 50%;
    left: calc(50% + 10px);
    transform: translate(-50%, -50%) scale(0.5);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.ca-text, .ca-subtext{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: xx-large;
    font-weight: 600;
    color: #fff;
    font-style: italic;
}
.ca-subtext{
    font-weight: 400;
    padding-top: 200px;
    font-size: 20px;
    line-height: 1.2;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-4{
    margin: 2vh 6vw;  
}

.info-cards{
    display: flex;
    justify-content: space-between;
}

.info-card{
    width: 40vw;
    height: 50vh;
    overflow: hidden;
}

.info-card img{
    width: 40vw;
    height: 30vh;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-5{
    margin: 2vh 6vw;  
}

.bmi{
    background-color: #81D98F;
}

#input td{
    padding: 2%;
    text-align: center;
    width: 50%;
    border: 1px solid black;
}

#input label{
    display: block;
}

#input input{
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
}

#input p{
    background-color: rgba(255, 255, 255, 0.7);
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-6{
    margin: 2vh 6vw;  
}

.story{
    background-color: #81D98F;
    display: flex;
}

.story-text{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 50vw;
}
.story-image{
    width: 50vw;
}

.s-images{
    display: flex;
    margin: 20px 20px 0 20px;
}

.s-image{
    margin-right: 5vw;
    text-align: center;
}
.s-image:last-child {
    margin-right: 0;
}

.s-image img{
    width: 250px;
    height: 200px;
}

.s-pages{
    display: flex;
    margin: 10px 250px;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-7{
    margin: 2vh 6vw;  
}

.t-section{
    display: flex;
}

.t-image{
    width: 50vw;
}

.t-image img{
    margin: 10px;
    width: 40vw;
    height: 40vh;
}

.t-texts{
    width: 50vw;
}

.t-text{
    width: 80%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

.t-button{
    padding: 5px 10px;
    color: white;
    background-color: #454545;
    width: max-content;
    margin: 20px 40%;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-8{
    margin: 2vh 6vw;  
}

.cards{
    display: flex;
}

.card{
    padding: 10px 2%;
    border: none;
}

.b-card{
    padding: 5px 10px;
    color: white;
    background-color: #454545;
    width: fit-content;
    align-self: center;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

.section-9{
    margin: 2vh 6vw;  
}