/* -------------------------------------------------------------------------------------------------------------------------------- */
.section{
    margin: 2vh 6vw;  
}

.text{
    margin-top: 75px;
    text-align: center;
}

.title{
    font-weight: 400;
}

.subtext{
    margin-top: 25px;
}
