@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------------------------------------------------- */

header{
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;
    z-index: 100;
}

.nav-container{
    padding-left: 25px;
}

.nav{
    justify-content: center;
}

.nav-link{
    font-size: x-large;
    color: #454545;
}

.nav-link:hover{
    color: #81D98F;
}

.nav-link:active,
.nav-link.active {
  color: #81D98F;
  text-decoration: none;
}

.nav a:focus{  
    color: #81D98F;
}
  

.logo{
    font-weight: 700;
    margin-right: 200px;
}

.logo:hover{
    color: #000000;
}
.last{
    margin-right: 100px;
}

.login{
    text-align: right;
    margin-left: 10px;
}


.content{
    font-family: 'Roboto', sans-serif;    
    margin-top: 50px;
    width: 100%;
}
  

/* -------------------------------------------------------------------------------------------------------------------------------- */

.footer{
    background-color: #EAEAEA;
}

.footer-ul{
    text-align: justify;
    list-style: none;
    padding: 2% 10% 1% 20%;
    margin-bottom: 0;
}

.copy{
    text-align: center;
    margin-bottom: 0;
}