/* -------------------------------------------------------------------------------------------------------------------------------- */
.section{
    margin: 50px 4vw;  
}
.text{
    width: 90vw;
    text-align: center;
}

.title{
    text-align: center;
}

.cards{
    display: flex;
}

.card{
    padding: 10px 8px;
    border: none;
    width: 31vw;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.subtitle{
    margin-top: 10px;
}

.card-subtext{
    width: 100%;
    height: 17.5vh;
}

.b-card{
    padding: 5px 10px;
    color: white;
    background-color: #454545;
    width: fit-content;
    align-self: center;
    text-decoration: none;
}